@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
    @apply min-w-full h-10 m-2 px-1 py-2 text-lg
}

.cust-btn {
    @apply inline-block rounded bg-black text-white border-0 px-3 py-2 m-1 cursor-pointer text-sm focus:outline-none hover:scale-95
}
